body {
    background: #181e34;
    font-family: "Montserrat", "Arial", sans-serif;
    /* font-size: 16px; */
    line-height: 150%;
    color: #fff;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ----------------------------------------------------------- */

.header {
    padding: 30px 0 36px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: auto;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 30px;
}

.header-button {
    color: #2766AE;
    border-radius: 100px;
    background: #FFFFFF;
    padding: 14px 30px;
    font-weight: 500;
}

/* --------- */

.hero {
    padding: 120px 0;
    background: url("../img/Rectangle 11.jpg") 10% 50% / cover no-repeat;
}



.hero-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 436px;
}

.hero-text span {
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(1, 162, 203, 1);

}

.par {
    margin-bottom: 15px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
}

.hero-button-one,
.hero-button-two {
    border-radius: 100px;
    padding: 18px 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-button-one img,
.hero-button-two img {
    margin-left: 4px;
}

.hero-button-one {
    background: linear-gradient(180deg, #00a4cc, #2766ae);
}

.hero-button-two {
    background: linear-gradient(129.14deg, #00a4cc, #2766ae 100%);
}

.margin-bottom {
    margin-bottom: 10px;
}

/* ------------- */

.cards {
    padding: 120px 0;
}

.card-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.cards-text {
    text-align: center;
    margin-bottom: 60px;
    max-width: 650px;
    margin: 0 auto 60px;
}

.cards-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
    margin-bottom: -28px;
    padding-bottom: 30px;
}

.cards-flex-item {
    margin-bottom: 28px;
    padding: 0 14px;
    flex: 0 0 25%;
}

.cards-flex-inner {
    background: #197cb8;
    border: 2px solid #176bae;
    box-shadow: 4px 4px 13px 0 #050d29c2;
    border-radius: 16px;
    padding: 28px 15px;
}

.cards-flex-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.cards-flex-text {
    text-align: center;
}

.cards-button {
    border-radius: 100px;
    padding: 18px 30px;
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    display: block;
    text-align: center;
    max-width: 436px;
    margin: 0 auto;

}

/* ---------------- */

.footer {
    border-top: 1px solid #323952;
    padding: 60px 0;
}

.foooter-inner {
    display: flex;

}

.footer-desc {
    max-width: 350px;
    margin-right: auto;
}

.footer-col {
    max-width: 204px;
    width: 100%;
}

.footer-col-margin{
    margin-right: 28px;

}

.footer-desc a {
    display: inline-block;
    margin-bottom: 15px;
}

.footer-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-item {
    margin-bottom: 10px;
}