.container {
    max-width: 1000px;
    height: 100%;
    /* margin: 0 auto; */
}


.block-white {
background: #cac6c6;
height: 100px;
width: 450px;
position: fixed;
top: auto;
/* right: 50px; */
left: 500px;
bottom: 100px;
border-radius: 15px;
}

.block-red {
    background: #ff0000;
    height: 100px;
    width: 100px;
    position: fixed;
    top: auto;
    left: 600px;
    bottom: 150px;
    border-radius: 50px;
}