

:root {
    --white-text: #f8fcff;
    --accent-text: #1D6FB6;
} 

body {
    background: var(--white-text);
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 125%;
    color: #25282b
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* --------- */

.header {
    line-height: 1.5;
}

.header__inner {
    height: 108px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
    align-content: center;
    align-items: center;
}

.header__logo {
    max-width: 54px;
}




.nav__list {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}



.socials {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
    justify-content: end;
}



/* -------- */


.hero {
    position: relative;
    padding: 120px 0;
    line-height: 1.5;
    color: var(--white-text);
}

.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero__title {
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 30px;
}

.hero__list {
    font-size: 24px;
    margin-bottom: 40px;
}

.hero__list-item {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 15px;
    transition: all .5s;
}

.hero__list-item:last-child {
    margin-bottom: 0px;
}

.hero__list-item:hover {
    color: var(--accent-text);
}

.hero__list-item:hover path {
    fill: var(--accent-text);
}

.hero__list-item path {
    transition: all .5s;
}

.hero__video {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.hero__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__video::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #102e49cc;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: calc(20px / 16px);
    color: var(--accent-text);

    height: 56px;
    max-width: 288px;
    background: #D0DCE7;
    border-radius: 100px;
    width: 100%;
}

.button:hover {
    color: var(--white-text);
    background: #83add3;
    transition: all .5s;
}

/* ------------- */

.main__general {
    padding: 120px 0;
}

.main__wrapper {
    align-items: start;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.main__sidebar {
    position: sticky;
    top: 5vh;
}

.main__body {
    width: 100%;
    max-width: 792px;
}

.main__gallery {
    margin-bottom: 120px;
}

.sidebar {
    font-weight: 500;
    border: 2px solid #d0dce7;
    padding: 30px;
    max-width: 282px;
    width: 100%;
    min-height: 60vh;
}

.sidebar__item {
    margin-bottom: 20px;
}

.sidebar__item:last-child {
    margin-bottom: 0;
}

/* ------------------- */

.gallery {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    font-weight: 500;
}

.gallery__img {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.gallery__img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.gallery__img--large-left {
    grid-column: 1/3;
    grid-row: span 2;
}

.gallery__img--large-right {
    grid-column: 5/3;
    grid-row: span 2;
}

.gallery__hint {

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1d6fb6b3;
    height: 53px;
    color: var(--white-text);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    opacity: 0;
    transition: all .5s;

}

.gallery__img:hover .gallery__hint {
    transform: translateY(0%);
    opacity: 1;
}

.gallery__img--large-left .gallery__hint,
.gallery__img--large-right .gallery__hint {
    height: 103px;
    line-height: 29px;
    font-size: 24px;
}

/* -------------- */


.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}


.products__item-body {
    border: 1px solid #d0dce7;
    border-top: none;
    padding: 30px 15px;
}

.products__item-button {
    margin: 0 auto;
}

.products__item-img {
    position: relative;
    padding-bottom: 62%;
}

.products__item-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.products__item-badge {
    position: absolute;
    left: 0;
    top: 12.6%;
    border-radius: 0px 100px 100px 0px;
    background: var(--white-text);
    min-width: 33.9%;
    padding: 18px 15px;
    text-align: center;
    font-weight: 500;
    color: var(--accent-text);
    animation: badge_action 2s infinite alternate;
}

@keyframes badge_action {
    0% {
        min-width: 33.9%;
    }

    66.666% {
        min-width: 33.9%;
    }

    100% {
        min-width: 37.3%;
    }
}

/* ----------------- */

.footer {
    padding: 30px 0;
    color: var(--white-text);
    text-align: center;
    background: #788088;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}
