
.form {
    /* display: block; */
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 5px;
    width: 200px;
    min-height: 350px;
    padding: 5px;
    /* padding-left: 15px; */
    /* text-align: left; */
}

legend{
    padding-left: 0px;
}

.personal {
    font-weight: 600;
}

label {
    display: block;
    padding: 3px;
    padding-left: 15px;
}

input {
margin-left: -15px;
}

fieldset {
    border-width: 0px   ;
}

.textarea {
    resize: vertical;
    min-height: 30px;
    max-height: 100px;
}

.title {
    cursor: pointer;
}

.button {
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 6px;
}