body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 5rem;
}

.wrapper {
    padding: 50px;
    min-height: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.block-wrapper,
.title {
    margin-bottom: 100px;
}

.title {
    text-align: center;
}

.block-wrapper {
    display: flex;
    justify-content: center;
}

.block {
    background: linear-gradient(210deg, #34bb34, rgb(34, 128, 0));
    height: 300px;
    width: 300px;
    border-radius: 1rem;
}

.text {
    font-size: 2rem;
}

/* ====================================================== */

.title::before {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    background: #ff0000;
    top: 100px;
    left: 12%;
    border-radius: 50px;
    border: 6px solid, #ffffff;
    content: '';
}

.title::before {
    position: relative;
}


    
    .title::after {
        position: absolute;
    }
    
    .title::after {
        display: block;
        position: absolute;
        width: 100px;
        height: 100px;
        background: #0078f7;
        top: 150px;
        left: 1182px;
        border-radius: 50px;
        border: 6px solid, #ffffff;
        content: '';
    }
    
    
.block-wrapper {
    position: relative;
}

.block-wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100px;
    height: 100px;
    background: #ea2a2a;
    border-radius: 15px;
}

.block-wrapper:hover::before {
    background: #8d2aea;
}

.text::first-line {
    color: #34bb34;
}

.text::first-letter {
    font-size: 60px;
}