html {
    font-family: sans-serif;
}

body * {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    max-width: 1320px;
    min-height: 70px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.header {
    border-bottom: 1px solid #0a0a0a;
}

.header-container {
    max-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.header-logo {
    display: flex;
    background: #0e0e0e;
    min-width: 40px;
    min-height: 40px;
}

.list {
    display: flex;
    gap: 0px 5px;
}

.link {
    color: #000;
}

.phone {
    color: #000;
    
}