body {
    background: #252121;
    font-size: 200%;
    height: 2000px;
}

.block-white {
    background: rgb(206, 201, 201);
    width: auto;
    min-height: 100px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    right: 50px;
    bottom: 100px;
}

.block-red {
    background: #ff0000;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    bottom: 150px;
    right: 40%;
    position: fixed;
}