table {
    font-family: sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}

td, th, caption {
    border: 1px solid #000;
}

caption {
    border-bottom: 0;
    font-weight: 600;
}

th.red-color {
color: #ff0000;
}

td.red-color{
    color: #ff0000;
}

/* th,td.red-color{
    color: #ff0000;
} */