.page {
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--main-color);
}

.page__body {
	min-width: 325px;
	background-color: var(--bg-color);
}

.page__body--no-scroll{
	overflow-y: hidden;
}

.container {
	width: min(var(--container-width), 100% - var(--container-pudding) * 2);
	margin: 0 auto;
}

.title-md {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 48px;
	color: var(--main-color);
	text-transform: uppercase;
}