.what-about-us__wrapper {
  position: relative;
  margin-bottom: 170px;
}

.what-about-us__wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
}



.what-about-us__button-wrapper {
  display: flex;
  gap: 16px;
}

.what-about-us .swiper-slide {
  display: flex;
  height: auto;
}

.what-about-us__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #0000001a;
  border-radius: 20px;
  padding-block: 28px;
  padding-inline: 32px;
  box-sizing: border-box;
}

/* .what-about-us-card {
  width: 100%;
  height: 100%;
  border: 1px solid #0000001a;
  border-radius: 20px;
  padding-block: 28px;
  padding-inline: 32px;
} */

.what-about-us__rating-wrapper {
  display: flex;
  gap: 6px;
  margin-bottom: 16px;
}

.what-about-us__text-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  margin-bottom: 12px;
}

.what-about-us__text-title::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../icons/Verified.svg);
  margin-left: 6px;
  transform: translateY(3px);
}

.what-about-us__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  color: var(--accent-color);
}

.what-about-us__item-six {}

.what-about-us__item-five {}

.what-about-us__item-four {}

@media(width<=800px) {
  .what-about-us__title {
    font-size: 37px;
  }
}

@media(width<=700px) {
  .what-about-us__icon--star {
    width: 19px;
    height: 19px;
  }

  .what-about-us__text-title {
    font-size: 16px;
    line-height: 138%;
  }

  .what-about-us__card {
    margin-bottom: 5px;
  }

  .what-about-us__text {
    font-size: 14px;
    line-height: 143%;
  }



}

@media(width<=650px){
.what-about-us__title{
  padding: 0px 50px 0px 0px;
}
}

@media(width<=585px){
.what-about-us__wrap{
  align-items: end;
}
.what-about-us__button-wrapper{
  margin-bottom: 10px;
}
}

@media(width<=500px) {
  .what-about-us__title {
    font-size: 30px;
    line-height: 120%;
    padding: 0px 50px 0px 0px;
  }

  .what-about-us__button-wrapper{
  margin-bottom: 7px;
}
}

@media(width<=350px){
  .what-about-us__title{
    padding: 0px 0px 0px 0px;
  }
}